<div class="message <%= "right" if user_is_messages_author %>">
  <%= cl_image_tag message.user.photo.key, height: 250, width: 300, crop: :fill, class: "avatar-chat" %>
  <div class="message-content"><%= message.content %></div>
</div>