.friend-results {
  margin-top: 10px;
  margin-bottom: 25px;

  p {
    font-size: 14px;
    margin-left: 5px;
  }
  .avatar-profile {
    width: 55px;
    height: 55px;
  }
  .btn-request {
    height: 40px;
    text-align: center;
    padding: 8px 30px;

  }
}
  .nav-tabContent {

  }
