.friend-results {
  margin-top: 10px;
  margin-bottom: 25px;

  p {
    font-size: 14px;
    margin-left: 5px;
  }

  .btn-request {
    height: 40px;
    text-align: center;
    padding: 8px 30px;
  }
}

  .avatar-profile {
    width: 55px;
    height: 55px;
  }

  .nav-tabs a {
    color: #EF6666;
  }

#nav-tabContent {
  position: relative;
  width: 100%;
  height: 500px;

  h2 {
    margin: auto;
    margin-top: 10px;
    font-size: 18px;
    color: #6c757d;
  }
}

#nav-pills {
  height: 80px;
  color: #fff;
  justify-content: space-between;

  a {

  }
}
.nav-item-friend{
  width: 32%;
  text-align: center;
  font-size: 14px;
}

.username{
  font-size: 32px;
  text-align: left;
}

