// Specific CSS for your home-page

.search{
  text-align: center;
}

.feed_style{
  width: 120%;
  height: 120%;
  position: relative;
  top: 35px;
  right: 15px;
}

.avatar-profile-temp{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: 10px;
}
