.title-main {
  font-size: 26px;
  margin-bottom: 15px;
  color: gray;
}

.title-secondary {
  font-size: 20px;
  color: black;

}

.title-gray {
  color: gray;
  font-size: 18px;
  margin-bottom: 0;

}

.form-group {
  margin: 0;
  height: 240px;
  .looks-scroller {
    margin-bottom: 0;
  }
}
