.item-form {

  .center {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  label {
    color: gray;
  }
}
.form-control-file {
  background-color: cornsilk;
  padding: 8px;
}
