
#headerfont-badge{
  font-size: 24px;
  color: #6c757d;
  position: absolute;
  top: 7px;
  left: 20px;
}

#headerfont{
  font-size: 24px;
  color: #6c757d;
  position: absolute;
  top: 27px;
  left: 19px;
}

.avatar-box {
}

.gear{
  text-align: right;
  margin-right: 4px;
  font-size: 25px;
}
.profile-title{
  margin-bottom: 10px;
}

.btn-white-wide {
  height: 40px;
  margin-bottom: 20px;
  padding: 8px 30px;
  border: 0.5px solid #adb5bd;

  a {
    color: #6c757d;
  }
}

.fa-cog:before {
    color: gray;
}

.nav-item{
  width: 40%;
  text-align: center;
}

.nav-pills .nav-link{
  padding-top: 13px;
  text-align: center;
  background: #adb5bd;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}
.nav-pills .nav-link.active{
  background: #fff;
  color: #ef6666;
  }

.tab-content{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -50px;
  background: #fff;
  color: #000;
  z-index: 1000;
  padding: 10px;
  margin-bottom: 50px;
}
.tab-content button{
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
  float: right;
}

.fa-times {
  padding-left: 8px;
}
