
#headerfont-badge{
  font-size: 24px;
  color: #6c757d;
  position: absolute;
  top: 0px;
  left: 20px;
}

#headerfont{
  font-size: 24px;
  color: #6c757d;
  position: absolute;
  top: 28px;
  left: 20px;
}

.gear{
  text-align: right;
  margin-right: 4px;
  font-size: 25px;
}
.profile-title{
  margin-bottom: 10px;
}

.btn-white-wide {
  height: 40px;
  margin-bottom: 20px;
  padding: 8px 30px;
  border: 0.5px solid #adb5bd;

  a {
    color: #6c757d;
  }
}

.fa-cog:before {
    color: gray;
}

.nav-item{
  width: 50%;
  text-align: center;
}

.nav-pills .nav-link{
  padding-top: 13px;
  text-align: center;
  background: #adb5bd;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}
.nav-pills .nav-link.active{
  background: #fff;
  color: #ef6666;
  }

.tab-content {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 300px;
  margin-top: -50px;
  background: #fff;
  color: #000;
  z-index: 1000;
  padding: 10px;
  margin-bottom: 50px;

  h1 {
    font-size: 20px;
    color: gray;
    text-align: center;
    margin-top: 10px;
  }
}
.tab-content button{
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
  float: right;
}

.fa-times {
  padding-left: 8px;
}

.btn-white-wide-profile {
  height: 30px;
  width: 180px;
  background-color: white;
  color: #6c757d;
  border-radius: 22px;
  border: 0.5px solid #adb5bd;
  padding: 4px 8px;
  font-size: 14px;
}

.percentage-color {
  height: 100%;
  width: 100%;
  border-radius: 22px;
  background-color: #c9d5e0;
}

.bar-progress {
  position: relative;
  border: 0.5px solid #adb5bd;
  margin-bottom: 8px;
  margin-top: 8px;

  p {
    position: absolute;
    position: absolute;
    top: 3px;
    right: 70px;
    font-size: 16px;
    color: #6c757d;
  }
}

.progress-level {
  background-color: #f19999;
}