.show-title {
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  justify-content: center;

  h2 {
    color: gray;
    font-size: 18px;
  }

  h1 {
    font-size:24px;
  }
  .show-description {
    margin-top: 12px;
    margin-bottom: 12px;

    p {
      margin-bottom: 0;
      color: gray;
    }
  }

}

.card-polaroid {
  width: 90vw;
  height: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 32px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  img {
    border: 1px solid #dedede;
  }

}

.card-polaroid-small {
  height: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 8px;
  padding-bottom: 24px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  margin: 8px;
  margin-bottom: 16px;
  img {
    border: 1px solid #dedede;
  }
}

.icons-side {
  display: flex;
  width: 95vw;
  justify-content: flex-end;
  .selection-icons {
    background-color: white;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 0 16px;
    position: relative;
    .fa-pencil-alt {
      color: gray;
      opacity: 0.5;
      font-size: 16px;
      margin-top: 8px;


    }

    .fa-times {
      color: gray;
      opacity: 0.5;
      font-size: 16px;
      margin-top: 8px;
    }
  }

}

  .show-card {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    .selection-icons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      .fa-pencil-alt {
        color: gray;
        opacity: 0.5;
        width: 40px;
        height: 40px;
        font-size: 25px;
        margin-top: 8px;


      }

      .fa-times {
        color: gray;
        opacity: 0.5;
        width: 40px;
        height: 40px;
        font-size: 25px;
        margin-top: 8px;
      }
    }

    .par-gray {
      color: gray;
    }
  }



.tags {
  margin-bottom: 15px;
  margin-top: 15px;
}

.show-badge {
    background-color: #c4c4c4;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: lighter;
 }


.show-card-box {
  min-width: 100px;
}
