<h1 class="title-gray d-flex justify-content-center">Create a New Look</h1>
<%= simple_form_for [@user, @look] do |f| %>
  <%= f.input :title %>
  <div class="d-flex justify-content-center">
    <%= f.submit "Create", class: "btn btn-red" %>
  </div>
<% end %>