<div class="container">
  <h1 class="text-center"><%= @look.title %></h1>
  <%= render 'look-card'%>
</div>
<div class="look-show">
  <%= link_to "Go Back To Feed", root_path, class: "btn-red-middle"%>
</div>
