<div class="bottom-navbar fixed-bottom navbar-expand-lg jus">
  <div class="icons">
    <!-- add links -->

    <%= link_to do %>
      <i class="fas fa-tshirt"></i>
    <% end %>
    <%= link_to do %>
      <i class="fas fa-user-friends"></i>
    <% end %>
    <%= link_to do %>
      <i class="fas fa-camera"></i>
    <% end %>
    <%= link_to items_path do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
</div>
