<div class="top-navbar navbar-expand-lg">
  <div class="top-links">
    <div class="nav-avatar">
    <!-- add paths to messages-->

      <%= link_to user_path(current_user) do %>
        <%= image_tag 'girl.jpg', class: "avatar-chat" %>
      <% end %>
      <!-- <p class="nav-points">123pts</p> -->
    </div>
    <%= link_to "Clever Closet" %>
    <%= link_to do %>
      <i class="fas fa-envelope"></i>
    <% end %>
  </div>
</div>
