<div class="search">
  <input type="text" placeholder="search">
</div>
<div class="row">
  <br>
  <div class="col-3">
  <%= cl_image_tag User.first.photo.key, height: 250, width: 300, crop: :fill, class: "avatar-profile-temp" %>
  </div>
  <div class="col-7">
     <%= image_tag 'outfit.jpg', class: "feed_style"%>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <br>
  <div class="col-3">
  <%= cl_image_tag User.first.photo.key, height: 250, width: 300, crop: :fill, class: "avatar-profile-temp" %>
  </div>
  <div class="col-7">
     <%= image_tag 'outfit.jpg', class: "feed_style"%>
  </div>
</div>

