<!-- <div class="search">
  <input type="text" placeholder="search">
</div> -->

<div class="banner">
  <div class="container">
    <h1>Better Organization-<br>Better Planet.</h1>
    <p>Your actions go beyond your closet. Donatons and practicing mindful shopping reduces waste and your overall carbon footprint.</p>
    <div class="d-flex justify-content-center">
      <a class="btn btn-red" href="#">Start Your Closet</a>
    </div>
  </div>
</div>

<div class="row">
  <br>
  <div class="col-3">
  <%= image_tag "girl.jpg", class: "avatar-profile-temp" %>
  </div>
  <div class="col-7">
     <%= image_tag 'outfit.jpg', class: "feed_style"%>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <br>
  <div class="col-3">
  <%= image_tag "girl2.jpg", class: "avatar-profile-temp" %>
  </div>
  <div class="col-7">
     <%= image_tag 'outfit.jpg', class: "feed_style"%>
  </div>
</div>

