<%= simple_form_for [@item, @donation] do |f| %>
  <div class="form-inputs">
    <%= f.input :pick_up_date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :address %>
  </div>
  <div class="donation-btn form-actions">
    <%= f.submit "Donate", class: 'btn btn-red' %>
  </div>
<% end %>