<div class="container">
  <div class="donations-header text-center">
    <h1>Donations</h1>
  </div>
  <div>
    <div class="justify-content-center">
      <% @donations.each do |donation| %>
        <div class="card-white d-flex">
          <div >
            <%= cl_image_tag donation.item.photo.key, height: 250, width: 300, crop: :fill, class: "card-donation" %>
          </div>
          <div >
            <div>
              <%= donation.pick_up_date. strftime('%A, %B %e, %Y') %>
            </div>
            <div>
              <%= donation.pick_up_date. strftime('%l:%M %p') %>
            </div>
            <div>
              <%= donation.item.name %>
            </div>
          </div>
          <!--  <div>
            <#% if donation.picked_up? %>
              <%#= "Status: Picked Up" %>
            <#% else %>
              <%#= "Status: Pending" %>
            <#% end %>
          </div> -->
        </div>
      <% end %>
    </div>
    <div class="donation-fact">
      <p>Thank You for Donating! <br>
        <em>Did You Know:</em><br>
        Up to 95% of the textiles that are land filled each year could be recycled? </p>
    </div>
  </div>
</div>