<div class="container">
  <div class="text-center">
    <h1>Donations</h1>
  </div>
  <div class="row">
    <div class="row justify-content-center">
      <% @donations.each do |donation| %>
        <div class="col-xs-6">
          <%= cl_image_tag donation.item.photo.key, height: 250, width: 300, crop: :fill, class: "card-donation" %>
        </div>
        <div class="col-xs-6">
          <div>
            <%= donation.pick_up_date. strftime('%A, %B %e, %Y') %>
          </div>
          <div>
            <%= donation.pick_up_date. strftime('%l:%M %p') %>
          </div>
          <div>
            <%= donation.item.name %>
          </div>
         <!--  <div>
            <#% if donation.picked_up? %>
              <%#= "Status: Picked Up" %>
            <#% else %>
              <%#= "Status: Pending" %>
            <#% end %>
          </div> -->
        </div>
      <% end %>
    </div>
  </div>


</div>
