<div class="card-polaroid-medium">
<% if item.photo.attached? %>
  <%= link_to item_path(item) do %>
    <%= cl_image_tag item.photo.key, height: 700, width: 600, crop: :fill %>
  <% end %>
<% else %>
  <%= image_tag "blouse.jpg", style: "height: 300px; width: 250px;"%>
<% end %>
</div>


