<div class="container">
  <div class="title">
    <h2>My Closet</h2>
    <%= render 'searchbar_items'%>
  </div>
  <div class="row">
    <div class="col-index mx-auto">
      <% @items.each do |item| %>
        <%= render "items/cards", item: item %>
      <% end %>
      </div>
  </div>
</div>
