<div class="container">
    <%= render 'searchbar_items'%>
  <div class="title">
    <h2>My Closet</h2>

  <div class="row">
    <div class="col-index mx-auto">
      <% if @items.any? %>
        <div class="your-items">
          <% @items.each do |item| %>
            <%= render "items/cards", item: item %>
          <% end %>
        <% else %>
          <p><em>No results in your closet<em></p>
        <% end %>
        </div>
      <% if @friends_items %>
      <p><em>Found in your friends closets:<em></p>
        <div class="friend-items">
          <% @friends_items.each do |item| %>
            <%= render "items/cards", item: item %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
