.badge {
  font-size: 14px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: 500;
  color: #6c757d;
  //   position: absolute;
  //   top: px;
//   left: -8px;
}

.badge-small {
  height: 22px;
  width: 22px;
//   position: absolute;
//   top: px;
//   left: -8px;
}
