.btn-red {
  height: 50px;
  width: 165px;
  background-color: #EF6666;
  color: white;
  border-radius: 22px;
  padding: 12px 30px;
  font-size: 14px;
}

.btn-white {
  height: 50px;
  width: 165px;
  background-color: white;
  color: black;
  border-radius: 22px;
  border: 1px solid #000000;
  padding: 12px 30px;
  font-size: 14px;
}

.btn-white-2 {
  height: 50px;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 22px;
  border: 0.5px solid #000000;
  padding: 12px 30px;
  font-size: 14px;
}

