.card-profile {
  width: 150px;
  height: 195px;
}

.card-feed {
  width: 280px;
  height: 355px;
}

.card-show {
  width: 300px;
  height: 350px;
}

.card-profile-show{
  width: 100%;
  height: 100%;
}

.card-donation {
  width: 110px;
  height: 135px;
  margin-right: 16px;
  margin-bottom: 16px;
}
